body div table thead th {
	font-size: 40px;
}

.center {
	text-align: center;
}

.width100 {
	width: 100%;
}

.width90 {
	width: 90%;
}

/********************************************************************************************************************************/
#headerTableParameters {
	color: #E7E7E7;
	background: #3e7327;
	text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

#decisionTreeLegend {
	letter-spacing: 2px;
	word-spacing: 2px;
	font-weight: bold;
	text-decoration: none;
	font-style: italic;
	font-variant: small-caps;
	text-transform: capitalize;
}

/********************************************************************************************************************************/
.decisiontree-draw .node-name {
	white-space: pre;
	font-size: 11px;
	padding: 2px 2px 2px 4px;
	margin: 0px 0px 10px 0px;
	color: #0000FF;
}

.decisiontree-draw .node-desc {
	font-size: 11px;
	padding: 2px 2px 2px 4px;
	color: #000;
}

.node-intervention .node-name {
	color: darkgreen !important;
	font-weight: bold;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}

.node-intervention .node-desc {
	font-weight: normal;
	text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fbff00, 0 0 10px #fbff00, 0 0 12px #fbff00, 0 0 14px #fbff00, 0 0 16px #fbff00;
}

.node-disease .node-name {
	color: darkblue !important;
	font-weight: bold;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #18abff, 0 0 30px #18abff, 0 0 40px #18abff, 0 0 55px #18abff, 0 0 75px #18abff;
}

.node-leaf .node-name {
	font-weight: bold;
}

.node-leaf .node-desc {
	font-weight: normal;
	text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fbff00, 0 0 10px #fbff00, 0 0 12px #fbff00, 0 0 14px #fbff00, 0 0 16px #fbff00;
}

.node-title {
	display: none;
}

.node-tip {
    display: none;
    position: absolute;
    border: 0px solid #333;
    background-color: rgba(0,128,0,0.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #000 1px 5px 20px;
    -moz-box-shadow: #000 1px 5px 20px;
    box-shadow: #000 1px 5px 20px;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    width: auto;
}

/********************************************************************************************************************************/
.mainTable th {
	border-radius: 5px;
	padding-left: 20px;
}

.mainTable td {
	padding-left: 20px;
}

.tableInputParameters td {
	padding-left: 0px;
}

.inputDataNumericValue {
	width: 50px;
}

/********************************************************************************************************************************/
.secondTable {
  border: 0px solid;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: 12px;
}

.secondTable td, .secondTable th {
  border: 1px solid #AAAAAA;
  padding: 5px 5px;
}

.secondTable th {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
  background-color: #3e7327;
}

/********************************************************************************************************************************/
.thirdTable {
  border: 0px solid;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: 10px;
}

.thirdTable td, .thirdTable th {
  border: 1px solid #AAAAAA;
  padding: 5px 5px;
}

.thirdTable th {
  font-size: 9px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
  background-color: #3e7327;
}

table .tableTitle th {
	font-size: 16px;
}

/********************************************************************************************************************************/
.button {
	box-shadow: 3px 4px 0px 0px #3e7327;
	background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color: #77b55a;
	border-radius: 5px;
	border: 1px solid #4b8f29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	padding: 12px 44px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #5b8a3c;
}

.button:hover {
	background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color: #72b352;
}

.button:active {
	position: relative;
	top: 1px;
}

/********************************************************************************************************************************/
.select {
	position: relative;
	display: inline-block;
	margin-bottom: 1px;
	width: 100%;
}

.select select {
	font-family: 'Arial';
	display: inline-block;
	width: 100%;
	cursor: pointer;
	padding: 10px 15px;
	outline: 0;
	border: 0px solid #000000;
	border-radius: 5px;
	background: #77b55a;
	color: #e5e5e5;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.select select::-ms-expand {
	display: none;
}

.select select:hover, .select select:focus {
	color: #000000;
	background: #c0efb9;
}

.select select:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.select_arrow {
	position: absolute;
	top: 16px;
	right: 15px;
	pointer-events: none;
	border-style: solid;
	border-width: 8px 5px 0px 5px;
	border-color: #333333 transparent transparent transparent;
}

.select select:hover ~ .select_arrow, .select select:focus ~ .select_arrow {
	border-top-color: #000000;
}

.select select:disabled ~ .select_arrow {
	border-top-color: #cccccc;
}

/********************************************************************************************************************************/
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 5;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}

.popup h2 {
	margin-top: 0;
	color: #333;
	font-weight: bold;
	font-size: 14px;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #06D85F;
}

.popup .content {
	max-height: 30%;
	overflow: auto;
}

@media screen and (max-width: 700px) {
	.box {
		width: 70%;
	}
	.popup {
		width: 70%;
	}
}
