<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app">
    {{ message }}
  </div>

  <script>
    var app = Vue.createApp({
      data() {
        return {
          message: "Hello World!"
        };
      }
    }).mount("#app");
  </script>
</body>
</html>
