<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Tutorial VueJS</title>
</head>

<body>
	<div id="app">
		<span v-show="mostrar">{{ mensaje }}</span>

		<div v-if="mostrar">
			{{ mensaje }}

			<!-- La línea de abajo y la siguiente hacen lo mismo: v-bind == : -->
			<img v-bind:src="imagen" /> 
			<img :src="imagen" />
		</div>

		<!-- La línea de abajo y la siguiente hacen lo mismo: v-on: == @ -->
		<button v-on:click="toggleMostrar">Mostrar/Ocultar</button>
		<button @click="toggleMostrar">Mostrar/Ocultar</button>

		<ul>
			<li v-for="(coche, index) in coches" :key="index">
				<a :href="coche.url" target="_blank">{{ coche.name }}</a>
			</li>
		</ul>

	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>
	<!--<script src="https://unpkg.com/vue@next"></script>-->
	<script src="js/basic-vue.js"></script>
</body>

</html>