<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>RaDiOS-MTT Visual Transformation Tool</title>

	<link rel="stylesheet" href="css/treant/Treant.css">
	<link rel="stylesheet" href="css/treant.css">
	<link rel="stylesheet" href="css/radios-mtt.css">
	<link rel="stylesheet" href="css/cytoscape.css">
</head>

<body>
	<div id="app" @load="loadDiseases();">
		<div id="messagePopup" class="overlay">
			<div class="popup">
				<h2>{{ levelEvent }}</h2> <br/>
				<a class="close" href="#">&times;</a>
				<div class="content">{{ messageEvent }}</div>
			</div>
		</div>
		<a id="launchPopUp" style="visibility: hidden" href="#messagePopup">Let me Pop up</a>

		<hr />

		<table class="mainTable width100" id="radios-mtt-parameters">
			<thead>
				<tr>
					<th id="headerTableParameters">INPUT PARAMETERS</th>
					<th id="headerTableParameters">DISEASE DATASHEET</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="width: 60%">
						<table id="tableInputParameters" style="width: 100%">
							<tr>
								<td style="width: 60%">
									<div class="select">
										<select v-model="selectedOwlFile" @change="resetSelections();">
											<option value="" disabled>Select a owl file ...</option>
											<option v-for="owlFile in owlFiles" v-bind:value="owlFile.id">{{ owlFile.description }}</option>
										</select>
										<div class="select_arrow"></div>
									</div>
									<div class="select">
										<select v-model="selectedDisease" @click="loadDiseases();" @change="loadInterventions(); loadStrategies();">
											<option value="" disabled>Select a disease ...</option>
											<option v-for="disease in diseases" v-bind:value="disease.name">{{ disease.name }}</option>
										</select>
										<div class="select_arrow"></div>
									</div>
									<div class="select">
										<select v-model="selectedInterventionA">
											<option value="" disabled>Select a intervention A ...</option>
											<option v-for="intervention in interventions" v-bind:value="intervention.name">{{ intervention.description }}</option>
										</select>
										<div class="select_arrow"></div>
									</div>
									<div class="select">
										<select v-model="selectedInterventionB">
											<option value="" disabled>Select a intervention B ...</option>
											<option v-for="intervention in interventions" v-bind:value="intervention.name">{{ intervention.description }}</option>
										</select>
										<div class="select_arrow"></div>
									</div>
									<div class="select">
										<select v-model="selectedClinicalDiagnosisStrategy">
											<option value="" disabled>Select a clinical diagnosis strategy ...</option>
											<option v-for="strategy in strategies" v-bind:value="strategy.name">{{ strategy.name }}</option>
										</select>
										<div class="select_arrow"></div>
									</div>
									<div v-show="showInputParameters">
										<table>
											<tr>
												<td>Discount rate (Costs):</td>
												<td><input class="inputDataNumericValue" v-model="selectedDiscountRateCosts" placeholder="0.0"></td>
											</tr>
											<tr>
												<td>Discount rate (Effects):</td>
												<td><input class="inputDataNumericValue" v-model="selectedDiscountRateEffects" placeholder="0.0"></td>
											</tr>
											<tr>
												<td>Utility general population:</td>
												<td><input class="inputDataNumericValue" v-model="selectedUtilityGeneralPopulation" placeholder="0.8861"></td>
											</tr>
											<tr>
												<td>TimeHorizon:</td>
												<td><input class="inputDataNumericValue" v-model="selectedTimeHorizon" placeholder="-1" title="A value of -1 indicates no time limit"></td>
											</tr>
											<tr>
												<td>Number of simulations:</td>
												<td><input class="inputDataNumericValue" v-model="selectedNumSimulations" placeholder="10" title="Applicable to probabilistic or stochastic simulation"></td>
											</tr>
											<tr>
												<td>Number of patients:</td>
												<td><input class="inputDataNumericValue" v-model="selectedNumPatients" placeholder="100"></td>
											</tr>
											<tr>
												<td>Are all affected patients? </td>
												<td><input type="checkbox" v-model="allPatientsAffected"></td>
											</tr>
										</table>
									</div>
								</td>
								<td style="width: 40%; text-align: center">
									<div style="width: 100%; text-align: center">
										<a href="#" @click="resetSelections();" class="button" style="width: 50%">Reset models</a>
										<a href="#" @click="generateDecisionTree();" class="button" style="width: 50%">Generate Decision Tree</a>
										<a href="#" @click="desSimulation();" class="button" style="width: 50%">DES Simulation</a>
									</div>
								</td>
							</tr>
						</table>
					</td>
					<td style="width: 40%; vertical-align: top;">
						<table>
							<tr>
								<td style="width: 98%;"><pre>{{ diseaseDatasheet }}</pre></td>
								<td style="width: 2%; vertical-align: top;"><img v-show="showLoading" alt="Loading ..." src="images/loading.gif" width="50px" height="50px" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>

		<hr />
		<div v-show="showDecisionTree">
			<div id="decisionTreeLegend">C = Costs, P = Probability, SC = Summary Costs, SQ = Summary Qalys</div>
			<div class="chart" id="DecisionTree"></div>
			<div id="decisionTreeLegend">C = Costs, P = Probability, SC = Summary Costs, SQ = Summary Qalys</div>
		</div>
		<div v-show="showDesSimulation">
			<table class="width100">
				<tr>
					<td>
						<table class="width100">
							<tr>
								<td>
									<div id="cyContainer">
										<div id="cy"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="center width100">
									<img src="images/legend_graph.png" alt="Legend manifestations graph">
								</td>
							</tr>
						</table>
					</td>
					<td class="center width100">
						<div id="secondOrderParameters"></div>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="center width100">
						<div id="incidenceLineChart0"></div>
					</td>					
				</tr>
				<tr>
					<td colspan="2" class="center width100">
						<div id="incidenceLineChart1"></div>
					</td>					
				</tr>
				<tr>
					<td colspan="2" class="center width100">
						<div id="incidenceLineChart2"></div>
					</td>					
				</tr>
			</table>
			<br/><hr/>
			<div class="width90" id="deterministicSimulationResult"></div>
			<br/><hr/>
			<div class="width90" id="summaryProbabilisticSimulationResult"></div>
			<br/><hr/>
			<div class="width90" id="probabilisticSimulationResult"></div>
		</div>
	</div>

	<!-- Third party frameworks -->
	<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue-axios@2.1.4/dist/vue-axios.min.js"></script>

	<script src="js/raphael/raphael-2.3.0.js"></script>
	<script src="js/treant/Treant.js"></script>
	<script src="js/treant.js"></script>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

	<script src="js/cytoscape/cytoscape.umd.js"></script>

	<script src="js/plotly/plotly-latest.js"></script>

	<script src="js/misc/json2html.js"></script>	

	<!-- RaDiOS Data Model -->
	<script src="js/radios-mtt-data.js"></script>	
</body>

</html>